@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Roboto+Slab:300,400,700");
/*-------------------------------------
		
	Project:	Wedding
	Version:	1.0.0
	Author: 
	Website: 
	Purchase:
---------------------------------------
    
    CSS INDEX
    ===================
	
    1. Theme Default CSS (body, link color, section etc)
    2. Header area start here
    3. Slider area start here
    4. About area start here
    5. Breadcumb area start here
    6. Banner area start here
    7. Services area start here
    8. Team area start here
    9. Price list area start here
    10. Pagination area start here
    11. Sidebar area start here
    12. Products area start here
    13. Testimonial area start here
    14. Client area start here
    15. Form area start here
    16. Social link area start here
    17. Blog area start here
    18. Faq area start here
    19. Contact area start here
	  20. Gallery area start here
    21. Event area start here
    22. Footer area start here



---------------------------------------*/
/*....................................
1.Theme default CSS
....................................*/
/*-------- Global Variables Start here --------*/
/*-------- Global Variables End here --------*/
/*-------- Responsive Mixins Start here --------*/
/* 
  Responsive Call = @include res(media){@contents;}
  media = m1920, m1600, m1200, m992, m768, m480, m320
*/
/*-------- Responsive Mixins End here --------*/
html,
body {
  font-size: 16px;
  color: #797979;
  font-family: "Roboto Slab", serif;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 300;
}

/* ....................................
1.1 Reset CSS 
.......................................*/
a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #096b89;
}
a:active {
  outline: 0 none;
  text-decoration: none;
}
a:focus {
  outline: 0px solid;
  text-decoration: none;
}

p {
  margin: 0 0 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 26px;
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

input {
  box-shadow: none;
  border-radius: 0;
  outline: none;
}
input:focus {
  outline: none;
  box-shadow: none;
}
input:active {
  outline: none;
  box-shadow: none;
}

textarea {
  outline: none;
  box-shadow: none;
  border-radius: 0;
}
textarea:focus {
  outline: none;
  box-shadow: none;
}
textarea:active {
  outline: none;
  box-shadow: none;
}

button {
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
button:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
button:active {
  outline: none;
  box-shadow: none;
  border: none;
}

.fix {
  overflow: hidden;
}

.clear {
  clear: both;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-table {
  display: table;
}

.w-50 {
  width: 50%;
}

::-moz-selection {
  background: #00c3ff;
  text-shadow: none;
}

::selection {
  background: #00c3ff;
  text-shadow: none;
}

.browserupgrade {
  margin: 26px  0;
  background: #00c3ff;
  color: #333333;
  padding: 26px 0;
}

/***Typography***/
h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-22 {
  font-size: 22px;
}

.f-24 {
  font-size: 24px;
}

.f-26 {
  font-size: 26px;
}

.f-28 {
  font-size: 28px;
}

.f-30 {
  font-size: 30px;
}

.f-36 {
  font-size: 36px;
}

.f-40 {
  font-size: 40px;
}

.f-48 {
  font-size: 48px;
}

.f-60 {
  font-size: 60px;
}

.f-72 {
  font-size: 72px;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.t-u {
  text-transform: uppercase;
}

.t-c {
  text-transform: capitalize;
}

.t-l {
  text-transform: lowercase;
}

/*** Section ***/
.section {
  padding: 100px 0;
}
@media only screen and (max-width: 992px) {
  .section {
    padding: 75px 0;
  }
}
@media only screen and (max-width: 768px) {
  .section {
    padding: 60px 0;
  }
}

.section2 {
  padding: 100px 0 70px;
}
@media only screen and (max-width: 992px) {
  .section2 {
    padding: 75px 0 45px;
  }
}
@media only screen and (max-width: 768px) {
  .section2 {
    padding: 60px 0 30px;
  }
}

.section3 {
  padding: 70px 0 100px;
}
@media only screen and (max-width: 992px) {
  .section3 {
    padding: 45px 0 75px;
  }
}
@media only screen and (max-width: 768px) {
  .section3 {
    padding: 30px 0 60px;
  }
}

.section4 {
  padding-bottom: 100px;
}
@media only screen and (max-width: 992px) {
  .section4 {
    padding-bottom: 75px;
  }
}
@media only screen and (max-width: 768px) {
  .section4 {
    padding-bottom: 60px;
  }
}

.section5 {
  padding-top: 100px;
}
@media only screen and (max-width: 992px) {
  .section5 {
    padding-top: 75px;
  }
}
@media only screen and (max-width: 768px) {
  .section5 {
    padding-top: 60px;
  }
}

.section_heading {
  display: block;
  position: relative;
  text-align: center;
  margin: 0 0 50px;
}
@media only screen and (max-width: 480px) {
  .section_heading {
    margin: 0 0 40px;
  }
}
.section_heading p {
  font-size: 18px;
  text-transform: uppercase;
  color: #f07677;
  margin: 0 0 5px;
  display: block;
}
@media only screen and (max-width: 480px) {
  .section_heading p {
    font-size: 16px;
    margin: 0;
  }
}
.section_heading h2 {
  font-weight: 400;
  color: #222222;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 42px;
}
@media only screen and (max-width: 480px) {
  .section_heading h2 {
    font-size: 24px;
    padding: 0 0 33px;
  }
}
.section_heading h2:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 252px;
  height: 25px;
  margin: 0 auto;
  background: url(images/icons/sec.png) no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 480px) {
  .section_heading h2:after {
    width: auto;
  }
}

/***Button***/
.btn1 {
  display: inline-block;
  position: relative;
  padding: 0 35px !important;
  line-height: 50px;
  height: 50px;
  background: #f07677;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
}
.btn1:hover {
  background: #000;
  color: #fff;
}

.btn2 {
  display: inline-block;
  position: relative;
  color: #f07677;
}
.btn2 i {
  padding-left: 8px;
}
.btn2:hover {
  color: #222;
}

/*** Reset ***/
.p-re {
  position: relative;
}

.p-ab {
  position: absolute;
}

.af-be:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.af-be:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.af:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.be:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bg-img {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.aligncenter {
  display: block;
  margin: 0 auto 26px;
}

@media only screen and (max-width: 992px) {
  .sm-t-center {
    text-align: center !important;
  }
}

@media only screen and (max-width: 768px) {
  .xs-t-center {
    text-align: center !important;
  }
}

.dbox {
  overflow: hidden;
  z-index: 1;
  vertical-align: middle;
  width: 100%;
}
.dbox .dleft {
  display: inline-block;
  float: left;
  padding-right: 10px;
}
.dbox .dright {
  display: table;
  padding-left: 10px;
}

#scrollUp {
  bottom: 40px;
  right: 30px;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 100%;
  background: #f07677;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 9999 !important;
  opacity: 0.8;
}
#scrollUp:hover {
  background-color: #333;
  color: #fff;
  opacity: 1;
  line-height: 50px;
}

/*-- Preloader css start --*/
#preloader {
	background-color: #fff;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2147483647;
	width: 100%;
	height: 100%;
}
#status {
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
#status img {
}
/***All plugins Reset***/
/*owl Navigations*/
.owl-controls {
  margin: 0;
}
.owl-controls .owl-buttons {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.owl-controls .owl-buttons div {
  opacity: 1;
  display: block;
  border-radius: 0;
  background: #333333;
  color: #fff;
  width: 42px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.owl-controls .owl-buttons div:hover {
  background: #f07677;
}
.owl-controls .owl-buttons div.owl-prev {
  border-bottom: 1px solid #434242;
}

/*owl Paginations*/
.owl-controls {
  margin: 0;
}
.owl-controls .owl-pagination .owl-page {
  padding: 0 2px;
}
.owl-controls .owl-pagination .owl-page span {
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: 0.3;
  position: relative;
  margin: 0 3px;
}
.owl-controls .owl-pagination .owl-page.active span {
  background: #f07677;
  opacity: 1;
}

/*** Margin ***/
.t-0 {
  top: 0;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}

.mr-0 {
  margin: 0;
}

.mr-t0 {
  margin-top: 0px;
}

.mr-t5 {
  margin-top: 5px;
}

.mr-t10 {
  margin-top: 10px;
}

.mr-t15 {
  margin-top: 15px;
}

.mr-t20 {
  margin-top: 20px;
}

.mr-t25 {
  margin-top: 25px;
}

.mr-t30 {
  margin-top: 30px;
}

.mr-t35 {
  margin-top: 35px;
}

.mr-t40 {
  margin-top: 40px;
}

.mr-t45 {
  margin-top: 45px;
}

.mr-t50 {
  margin-top: 50px;
}

.mr-t60 {
  margin-top: 60px;
}

.mr-t70 {
  margin-top: 70px;
}

.mr-t80 {
  margin-top: 80px;
}

.mr-t90 {
  margin-top: 90px;
}

.mr-t100 {
  margin-top: 100px;
}

.mr-t110 {
  margin-top: 110px;
}

.mr-t120 {
  margin-top: 120px;
}

.mr-t130 {
  margin-top: 130px;
}

.mr-t140 {
  margin-top: 140px;
}

.mr-t150 {
  margin-top: 150px;
}

.mr-b0 {
  margin-bottom: 0px;
}

.mr-b5 {
  margin-bottom: 5px;
}

.mr-b10 {
  margin-bottom: 10px;
}

.mr-b15 {
  margin-bottom: 15px;
}

.mr-b20 {
  margin-bottom: 20px;
}

.mr-b25 {
  margin-bottom: 25px;
}

.mr-b30 {
  margin-bottom: 30px;
}

.mr-b35 {
  margin-bottom: 35px;
}

.mr-b40 {
  margin-bottom: 40px;
}

.mr-b45 {
  margin-bottom: 45px;
}

.mr-b50 {
  margin-bottom: 50px;
}

.mr-b60 {
  margin-bottom: 60px;
}

.mr-b70 {
  margin-bottom: 70px;
}

.mr-b80 {
  margin-bottom: 80px;
}

.mr-b90 {
  margin-bottom: 90px;
}

.mr-b100 {
  margin-bottom: 100px;
}

.mr-b110 {
  margin-bottom: 110px;
}

.mr-b120 {
  margin-bottom: 120px;
}

.mr-b130 {
  margin-bottom: 130px;
}

.mr-b140 {
  margin-bottom: 140px;
}

.mr-b150 {
  margin-bottom: 150px;
}

.mr-l0 {
  margin-left: 0px;
}

.mr-l5 {
  margin-left: 5px;
}

.mr-l10 {
  margin-left: 10px;
}

.mr-l15 {
  margin-left: 15px;
}

.mr-l20 {
  margin-left: 20px;
}

.mr-l25 {
  margin-left: 25px;
}

.mr-l30 {
  margin-left: 30px;
}

.mr-l35 {
  margin-left: 35px;
}

.mr-l40 {
  margin-left: 40px;
}

.mr-l45 {
  margin-left: 45px;
}

.mr-l50 {
  margin-left: 50px;
}

.mr-l60 {
  margin-left: 60px;
}

.mr-l70 {
  margin-left: 70px;
}

.mr-l80 {
  margin-left: 80px;
}

.mr-l90 {
  margin-left: 90px;
}

.mr-l100 {
  margin-left: 100px;
}

.mr-l110 {
  margin-left: 110px;
}

.mr-l120 {
  margin-left: 120px;
}

.mr-l130 {
  margin-left: 130px;
}

.mr-l140 {
  margin-left: 140px;
}

.mr-l150 {
  margin-left: 150px;
}

.mr-r0 {
  margin-right: 0px;
}

.mr-r5 {
  margin-right: 5px;
}

.mr-r10 {
  margin-right: 10px;
}

.mr-r15 {
  margin-right: 15px;
}

.mr-r20 {
  margin-right: 20px;
}

.mr-r25 {
  margin-right: 25px;
}

.mr-r30 {
  margin-right: 30px;
}

.mr-r35 {
  margin-right: 35px;
}

.mr-r40 {
  margin-right: 40px;
}

.mr-r45 {
  margin-right: 45px;
}

.mr-r50 {
  margin-right: 50px;
}

.mr-r60 {
  margin-right: 60px;
}

.mr-r70 {
  margin-right: 70px;
}

.mr-r80 {
  margin-right: 80px;
}

.mr-r90 {
  margin-right: 90px;
}

.mr-r100 {
  margin-right: 100px;
}

.mr-r110 {
  margin-right: 110px;
}

.mr-r120 {
  margin-right: 120px;
}

.mr-r130 {
  margin-right: 130px;
}

.mr-r140 {
  margin-right: 140px;
}

.mr-r150 {
  margin-right: 150px;
}

.mr-0 {
  margin: 0;
}

.mr-5 {
  margin: 5px;
}

.mr-10 {
  margin: 10px;
}

.mr-15 {
  margin: 15px;
}

.mr-20 {
  margin: 20px;
}

.mr-25 {
  margin: 25px;
}

.mr-30 {
  margin: 30px;
}

.mr-35 {
  margin: 35px;
}

.mr-40 {
  margin: 40px;
}

.mr-45 {
  margin: 45px;
}

.mr-50 {
  margin: 50px;
}

.mr-60 {
  margin: 60px;
}

.mr-70 {
  margin: 70px;
}

.mr-80 {
  margin: 80px;
}

.mr-90 {
  margin: 90px;
}

.mr-100 {
  margin: 100px;
}

.mr-110 {
  margin: 110px;
}

.mr-120 {
  margin: 120px;
}

.mr-130 {
  margin: 130px;
}

.mr-140 {
  margin: 140px;
}

.mr-150 {
  margin: 150px;
}

/*** Padding ***/
.pd-0 {
  padding: 0;
}

.pd-t0 {
  padding-top: 0px;
}

.pd-t5 {
  padding-top: 5px;
}

.pd-t10 {
  padding-top: 10px;
}

.pd-t15 {
  padding-top: 15px;
}

.pd-t20 {
  padding-top: 20px;
}

.pd-t25 {
  padding-top: 25px;
}

.pd-t30 {
  padding-top: 30px;
}

.pd-t35 {
  padding-top: 35px;
}

.pd-t40 {
  padding-top: 40px;
}

.pd-t45 {
  padding-top: 45px;
}

.pd-t50 {
  padding-top: 50px;
}

.pd-t60 {
  padding-top: 60px;
}

.pd-t70 {
  padding-top: 70px;
}

.pd-t80 {
  padding-top: 80px;
}

.pd-t90 {
  padding-top: 90px;
}

.pd-t100 {
  padding-top: 100px;
}

.pd-t110 {
  padding-top: 110px;
}

.pd-t120 {
  padding-top: 120px;
}

.pd-t130 {
  padding-top: 130px;
}

.pd-t140 {
  padding-top: 140px;
}

.pd-t150 {
  padding-top: 150px;
}

.pd-b0 {
  padding-bottom: 0px;
}

.pd-b5 {
  padding-bottom: 5px;
}

.pd-b10 {
  padding-bottom: 10px;
}

.pd-b15 {
  padding-bottom: 15px;
}

.pd-b20 {
  padding-bottom: 20px;
}

.pd-b25 {
  padding-bottom: 25px;
}

.pd-b30 {
  padding-bottom: 30px;
}

.pd-b35 {
  padding-bottom: 35px;
}

.pd-b40 {
  padding-bottom: 40px;
}

.pd-b45 {
  padding-bottom: 45px;
}

.pd-b50 {
  padding-bottom: 50px;
}

.pd-b60 {
  padding-bottom: 60px;
}

.pd-b70 {
  padding-bottom: 70px;
}

.pd-b80 {
  padding-bottom: 80px;
}

.pd-b90 {
  padding-bottom: 90px;
}

.pd-b100 {
  padding-bottom: 100px;
}

.pd-b110 {
  padding-bottom: 110px;
}

.pd-b120 {
  padding-bottom: 120px;
}

.pd-b130 {
  padding-bottom: 130px;
}

.pd-b140 {
  padding-bottom: 140px;
}

.pd-b150 {
  padding-bottom: 150px;
}

.pd-l0 {
  padding-left: 0px;
}

.pd-l5 {
  padding-left: 5px;
}

.pd-l10 {
  padding-left: 10px;
}

.pd-l15 {
  padding-left: 15px;
}

.pd-l20 {
  padding-left: 20px;
}

.pd-l25 {
  padding-left: 25px;
}

.pd-l30 {
  padding-left: 30px;
}

.pd-l35 {
  padding-left: 35px;
}

.pd-l40 {
  padding-left: 40px;
}

.pd-l45 {
  padding-left: 45px;
}

.pd-l50 {
  padding-left: 50px;
}

.pd-l60 {
  padding-left: 60px;
}

.pd-l70 {
  padding-left: 70px;
}

.pd-l80 {
  padding-left: 80px;
}

.pd-l90 {
  padding-left: 90px;
}

.pd-l100 {
  padding-left: 100px;
}

.pd-l110 {
  padding-left: 110px;
}

.pd-l120 {
  padding-left: 120px;
}

.pd-l130 {
  padding-left: 130px;
}

.pd-l140 {
  padding-left: 140px;
}

.pd-l150 {
  padding-left: 150px;
}

.pd-r0 {
  padding-right: 0px;
}

.pd-r5 {
  padding-right: 5px;
}

.pd-r10 {
  padding-right: 10px;
}

.pd-r15 {
  padding-right: 15px;
}

.pd-r20 {
  padding-right: 20px;
}

.pd-r25 {
  padding-right: 25px;
}

.pd-r30 {
  padding-right: 30px;
}

.pd-r35 {
  padding-right: 35px;
}

.pd-r40 {
  padding-right: 40px;
}

.pd-r45 {
  padding-right: 45px;
}

.pd-r50 {
  padding-right: 50px;
}

.pd-r60 {
  padding-right: 60px;
}

.pd-r70 {
  padding-right: 70px;
}

.pd-r80 {
  padding-right: 80px;
}

.pd-r90 {
  padding-right: 90px;
}

.pd-r100 {
  padding-right: 100px;
}

.pd-r110 {
  padding-right: 110px;
}

.pd-r120 {
  padding-right: 120px;
}

.pd-r130 {
  padding-right: 130px;
}

.pd-r140 {
  padding-right: 140px;
}

.pd-r150 {
  padding-right: 150px;
}

.pd-0 {
  padding: 0px;
}

.pd-5 {
  padding: 5px;
}

.pd-10 {
  padding: 10px;
}

.pd-15 {
  padding: 15px;
}

.pd-20 {
  padding: 20px;
}

.pd-25 {
  padding: 25px;
}

.pd-30 {
  padding: 30px;
}

.pd-35 {
  padding: 35px;
}

.pd-40 {
  padding: 40px;
}

.pd-45 {
  padding: 45px;
}

.pd-50 {
  padding: 50px;
}

.pd-60 {
  padding: 60px;
}

.pd-70 {
  padding: 70px;
}

.pd-80 {
  padding: 80px;
}

.pd-90 {
  padding: 90px;
}

.pd-100 {
  padding: 100px;
}

.pd-110 {
  padding: 110px;
}

.pd-120 {
  padding: 120px;
}

.pd-130 {
  padding: 130px;
}

.pd-140 {
  padding: 140px;
}

.pd-150 {
  padding: 150px;
}

/*....................................
2. Header area start here
....................................*/
header {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  height: 120px;
  line-height: 120px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999999;
}
header .logo-area a {
  display: inline-block;
}
header .mobilemenu .mean-container .mean-nav {
  background: #1D1D22;
  margin-top: 40px;
}
header .mobilemenu .mean-container .mean-nav ul li a {
  font-size: 13px;
  padding: 0 5%;
  line-height: 44px;
}
header .mobilemenu .mean-container .mean-nav ul li a.mean-expand {
  padding: 0;
  line-height: 44px;
  height: 44px !important;
  padding: 0 12px !important;
}
header .mobilemenu .mean-container .mean-nav ul li a.mean-expand:hover {
  background: #1D1D22;
}
header .mobilemenu .mean-container .mean-nav ul li a.mean-expand.mean-expand.mean-clicked {
  background: #1D1D22;
}
header .mobilemenu .mean-container .mean-nav ul li a:hover {
  color: #f07677;
  background: transparent;
}
header .mobilemenu .mean-container .mean-bar {
  background: inherit;
  padding: 0;
  min-height: 0;
  position: absolute;
  width: auto !important;
  left: 0;
  right: 0;
  top: 44px;
  z-index: 9999;
}
header .mobilemenu .mean-container a.meanmenu-reveal {
  top: -2px;
  right: 20px !important;
  background: #f07677;
  height: 10px;
  padding: 8px 11px 17px;
}
header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 100px;
  line-height: 100px;
  z-index: 9999999;
  -webkit-transition: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-transition: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 480px) {
  header.sticky {
    height: 80px;
    line-height: 80px;
  }
}
header.sticky .main-menu nav ul li:last-child {
  padding: 25px 0;
}
header.sticky .mobilemenu .mean-bar {
  top: 36px;
}
@media only screen and (max-width: 480px) {
  header.sticky .mobilemenu .mean-bar {
    top: 26px;
  }
}

header .main-menu nav ul li {
  display: inline-block;
}
header .main-menu nav ul li a {
  display: block;
  color: #000;
  padding: 0 15px;
  text-transform: capitalize;
}
@media only screen and (max-width: 992px) {
  header .main-menu nav ul li a {
    padding: 0 5px;
    font-size: 14px;
  }
}
header .main-menu nav ul li a:hover {
  color: #f07677;
}
header .main-menu nav ul li:first-child a {
  padding-left: 0;
}
header .main-menu nav ul li:last-child {
  float: right;
  padding: 35px 0;
}
header .main-menu nav ul li:last-child a {
  color: #fff;
}
@media only screen and (max-width: 992px) {
  header .main-menu nav ul li:last-child a {
    padding: 0 25px !important;
  }
}

/*....................................
3. Slider area start here
....................................*/
.slider-area .bx-wrapper {
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
  overflow: hidden;
  vertical-align: middle;
}
.response{
	color:#fff;
	font-size:12px;
}
.slider-area .bx-wrapper .bx-loading {
  display: none !important;
}
.slider-area .bx-wrapper .bx-pager {
  display: none !important;
}
.slider-area .bx-wrapper .bx-viewport {
  overflow: visible !important;
  border: none;
  box-shadow: none;
  left: 0;
  background: transparent;
}
@media only screen and (max-width: 320px) {
  .slider-area .bx-wrapper .bx-controls {
    display: none;
  }
}
.slider-area .bx-wrapper .bx-controls .bx-controls-direction a {
  display: inline-block;
  height: 70px;
  width: 70px;
  background: #fff;
  border-radius: 100%;
  line-height: 70px;
  text-align: center;
  margin-top: 50px;
  opacity: 0;
  transition: 0.5s;
}
@media only screen and (max-width: 480px) {
  .slider-area .bx-wrapper .bx-controls .bx-controls-direction a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
  }
}
@media only screen and (max-width: 320px) {
  .slider-area .bx-wrapper .bx-controls .bx-controls-direction a {
    display: none;
  }
}
.slider-area .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
  left: -70px;
}
.slider-area .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:before {
  content: "\f104";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  line-height: 70px;
  height: 70px;
  border-radius: 100%;
  color: #111;
  font-size: 18px;
  text-indent: 0px;
  font-family: "FontAwesome";
  font-weight: 700;
  transition: 0.5s;
}
@media only screen and (max-width: 480px) {
  .slider-area .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:before {
    height: 50px;
    line-height: 50px;
  }
}
.slider-area .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
  right: -70px;
}
.slider-area .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:before {
  content: "\f105";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  line-height: 70px;
  height: 70px;
  border-radius: 100%;
  color: #111;
  font-size: 18px;
  text-indent: 0px;
  font-family: "FontAwesome";
  font-weight: 700;
  transition: 0.5s;
}
@media only screen and (max-width: 480px) {
  .slider-area .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:before {
    height: 50px;
    line-height: 50px;
  }
}
.slider-area .bx-wrapper .bx-controls .bx-controls-direction a:hover {
  background: #f07677;
}
.slider-area .bx-wrapper .bx-controls .bx-controls-direction a:hover:before {
  color: #fff;
}
.slider-area .bx-wrapper:hover .bx-controls .bx-controls-direction a {
  opacity: 1;
}
.slider-area .bx-wrapper:hover .bx-controls .bx-controls-direction a.bx-prev {
  left: 20px;
}
.slider-area .bx-wrapper:hover .bx-controls .bx-controls-direction a.bx-next {
  right: 20px;
}
.slider-area .item {
  height: 100vh;
}
@media only screen and (max-width: 480px) {
  .slider-area .item {
    text-align: center !important;
  }
}
.slider-area .item .content {
  display: inline-block;
  position: relative;
  margin-top: 120px;
  padding: 26vh 0;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  .slider-area .item .content {
    padding: 15vh 0;
  }
}
.slider-area .item .content p {
  font-size: 22px;
  color: #000;
  margin: 0 0 15px;
}
@media only screen and (max-width: 768px) {
  .slider-area .item .content p {
    font-size: 18px;
  }
}
.slider-area .item .content h2 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  color: #f07677;
  font-size: 68px;
  margin: 0 0 10px;
}
@media only screen and (max-width: 768px) {
  .slider-area .item .content h2 {
    font-size: 48px;
  }
}
.slider-area .item .content h2 span {
  color: #000;
}
.slider-area .item .content h3 {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  padding: 0 70px;
  background: #f07677;
  color: #fff;
  font-size: 30px;
  margin: 0;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .slider-area .item .content h3 {
    font-size: 24px;
    line-height: 60px;
    height: 60px;
  }
}
.slider-area .item .content h3:after {
  content: '';
  position: absolute;
  left: 15px;
  right: 15px;
  top: 10px;
  bottom: 10px;
  border: 1px dashed #fff;
}
@media only screen and (max-width: 768px) {
  .slider-area .item .content h3:after {
    left: 10px;
    right: 10px;
    top: 8px;
    bottom: 8px;
  }
}
.slider-area .item .content .date {
  padding: 0 30px;
  background: #f07677;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  -webkit-border-radius: 0 0 50px 50px;
  -moz-border-radius: 0 0 50px 50px;
  -ms-border-radius: 0 0 50px 50px;
  border-radius: 0 0 50px 50px;
}
.slider-area .item.one {
  background: url(images/sliders/1.jpg) no-repeat center;
  background-size: cover;
  text-align: right;
}
.slider-area .item.two {
  background: url(images/sliders/2.jpg) no-repeat center;
  background-size: cover;
  text-align: left;
}
.slider-area .item.three {
  background: url(images/sliders/3.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
}

/*....................................
4. About area start here
....................................*/
.persons-area .persons {
  text-align: center;
  display: block;
}
.persons-area .persons figure {
  display: block;
  position: relative;
  width: 60%;
  margin: 0 auto 50px;
  overflow: hidden;
  vertical-align: middle;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
.persons-area .persons figure img {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.persons-area .persons:hover figure img {
  transform: scale(1.2);
}
.persons-area .persons .content {
  display: block;
  position: relative;
  padding: 0 46px;
}
@media only screen and (max-width: 480px) {
  .persons-area .persons .content {
    padding: 0 10px;
  }
}
.persons-area .persons .content a {
  margin: 0 0 25px;
  display: block;
}
.persons-area .persons .content h4 {
  font-weight: 400;
  color: #222222;
  margin: 0 0 15px;
}
.persons-area .persons-con {
  display: block;
  position: relative;
  text-align: center;
  margin: 40px 0;
}
.persons-area .persons-con h1 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  color: #f07677;
  font-size: 56px;
  margin: 0 0 5px;
}
.persons-area .persons-con .ico {
  display: block;
}
.persons-area .persons-con .day {
  color: #111111;
  font-size: 22px;
  display: block;
  margin: 20px 0 10px;
}
.persons-area .persons-con strong {
  color: #f07677;
  font-size: 22px;
  font-weight: 600;
  display: block;
  margin: 0 0 10px;
}
.persons-area .persons-con p {
  margin: 0;
}

/*....................................
5. Breadcumb area start here
....................................*/
/*....................................
6. Banner area start here
....................................*/
.counter-area {
  display: block;
  position: relative;
  background: #303030;
  overflow: hidden;
  vertical-align: middle;
}
.counter-area .content {
  display: block;
  padding: 67px 0;
  background: #f07677;
  margin-right: 45px;
}
@media only screen and (max-width: 480px) {
  .counter-area .content {
    text-align: center;
    padding: 50px 0;
    margin: 0;
  }
}
.counter-area .content:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 90px;
  margin-right: -30px;
  background: #f07677;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
}
@media only screen and (max-width: 992px) {
  .counter-area .content:before {
    display: none;
  }
}
.counter-area .content:after {
  content: '';
  position: absolute;
  right: 100%;
  margin-right: -15px;
  top: 0;
  bottom: 0;
  left: -500px;
  background: #f07677;
}
@media only screen and (max-width: 992px) {
  .counter-area .content:after {
    margin: 0;
    right: -500px;
  }
}
.counter-area .content p {
  font-size: 18px;
  color: #fff;
  margin: 0 0 15px;
  font-weight: 400;
  position: relative;
  z-index: 999;
}
.counter-area .content h2 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  color: #fff;
  font-size: 60px;
  margin: 0;
  position: relative;
  z-index: 999;
}
.counter-area .content span {
  position: absolute;
  top: 58px;
  z-index: 999;
  right: 85px;
}
@media only screen and (max-width: 480px) {
  .counter-area .content span {
    display: none;
  }
}
.counter-area .counter-list {
  margin-left: 70px;
  text-align: center;
  padding: 50px 0;
}
@media only screen and (max-width: 768px) {
  .counter-area .counter-list {
    margin: 0;
  }
}
@media only screen and (max-width: 480px) {
  .counter-area .counter-list ul {
    overflow: hidden;
    vertical-align: middle;
    margin: -20px;
  }
}
.counter-area .counter-list ul li {
  display: inline-block;
  padding: 0 12px;
}
@media only screen and (max-width: 480px) {
  .counter-area .counter-list ul li {
    width: 50%;
    float: left;
    padding: 20px;
  }
}
.counter-area .counter-list ul li span {
  display: inline-block;
  width: 95px;
  height: 95px;
  line-height: 93px;
  border: 1px dashed #fff;
  position: relative;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 20px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
.counter-area .counter-list ul li span:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 6px;
  right: 6px;
  bottom: 6px;
  border: 1px dashed #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
.counter-area .counter-list ul li p {
  margin: 0;
  text-transform: capitalize;
  color: #fff;
}
.counter-area .counter-list ul li:first-child {
  padding-left: 0;
}
.counter-area .counter-list ul li:last-child {
  padding-right: 0;
}

.family-area {
  position: relative;
  background: url(images/family/bg.jpg);
}
.family-area:after {
  background: rgba(0, 0, 0, 0.9);
}
.family-area .container {
  position: relative;
  z-index: 999;
}
.family-area .section_heading h2 {
  color: #fff;
}
.family-area .family-tabbox .nav {
  border: none;
  padding: 0;
  margin: 0 0 60px;
  text-align: center;
  display: block;
}
.family-area .family-tabbox .nav li {
  display: inline-block;
  padding: 0 36px;
  margin: 0;
  position: relative;
  background: transparent;
  float: initial;
}
.family-area .family-tabbox .nav li:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  z-index: -1;
}
.family-area .family-tabbox .nav li:before {
  content: '\f004';
  position: absolute;
  right: -14px;
  top: 50%;
  margin-top: -10px;
  z-index: 99;
  font-size: 30px;
  font-family: fontawesome;
  color: #f07677;
}
.family-area .family-tabbox .nav li a {
  padding: 0;
  margin: 0;
  display: block;
  border: none;
  overflow: hidden;
  vertical-align: middle;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
.family-area .family-tabbox .nav li a img {
  width: 100%;
}
.family-area .family-tabbox .nav li:first-child {
  padding-left: 0;
}
.family-area .family-tabbox .nav li:last-child {
  padding-right: 0;
}
.family-area .family-tabbox .nav li:last-child:before {
  display: none;
}
.family-area .family-tabbox .tab-content .familyslider {
  margin: 1px;
  overflow: hidden;
  vertical-align: middle;
}
.family-area .family-tabbox .tab-content .familyslider .item {
  padding: 20px 0 30px;
  display: block;
  background: transparent;
  position: relative;
  text-align: center;
  margin: -1px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.family-area .family-tabbox .tab-content .familyslider .item figure {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  overflow: hidden;
  vertical-align: middle;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.family-area .family-tabbox .tab-content .familyslider .item figure img {
  width: 100%;
}
.family-area .family-tabbox .tab-content .familyslider .item .content h2 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  color: #f07677;
  margin: 0 0 5px;
}
.family-area .family-tabbox .tab-content .familyslider .item .content p {
  margin: 0;
  color: #fff;
}
.family-area .family-tabbox .tab-content .familyslider .item:hover {
  background: rgba(255, 255, 255, 0.2);
}
.family-area .family-tabbox .tab-content .familyslider .item.br_rn {
  border-right: none;
}
.family-area .family-tabbox .tab-content .familyslider .item.love:after {
  content: '\f004';
  position: absolute;
  right: -20px;
  bottom: -15px;
  margin-top: -10px;
  z-index: 99;
  font-size: 40px;
  font-family: fontawesome;
  color: #f07677;
}
@media only screen and (max-width: 992px) {
  .family-area .family-tabbox .tab-content .familyslider .item.love:after {
    display: none;
  }
}

.love-story {
  display: block;
  position: relative;
}
@media only screen and (max-width: 320px) {
  .love-story {
    margin: 0 0 40px;
  }
}
@media only screen and (max-width: 992px) {
  .love-story .section_heading {
    margin: 0;
    padding: 0 0 60px;
  }
}
.love-story .love-storys {
  display: block;
}
@media only screen and (max-width: 992px) {
  .love-story .love-storys {
    margin: -50px 0;
  }
}
.love-story .love-storys .story-list {
  position: relative;
  display: block;
  overflow: hidden;
  vertical-align: middle;
}
.love-story .love-storys .story-list:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  background: #e5e5e5;
  width: 3px;
  z-index: 1;
}
@media only screen and (max-width: 992px) {
  .love-story .love-storys .story-list:after {
    display: none;
  }
}
.love-story .love-storys .story-list .story {
  margin: 80px 0 50px;
  display: block;
  position: relative;
  padding-bottom: 50px;
}
@media only screen and (max-width: 992px) {
  .love-story .love-storys .story-list .story {
    margin-top: 130px;
  }
}
@media only screen and (max-width: 768px) {
  .love-story .love-storys .story-list .story {
    margin-top: 120px;
  }
}
@media only screen and (max-width: 480px) {
  .love-story .love-storys .story-list .story {
    margin-top: 110px;
  }
}
@media only screen and (max-width: 320px) {
  .love-story .love-storys .story-list .story {
    margin: 30px 0 0;
  }
}
.love-story .love-storys .story-list .story:last-child {
  padding-bottom: 0;
}
.love-story .love-storys .story-list .story.lefts {
  padding-right: 100px;
}
@media only screen and (max-width: 992px) {
  .love-story .love-storys .story-list .story.lefts {
    padding: 0;
  }
}
.love-story .love-storys .story-list .story.lefts:after {
  content: '\f004';
  font-family: fontawesome;
  font-size: 18px;
  position: absolute;
  text-align: center;
  right: -30px;
  top: 5px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  z-index: 9;
  background: #f07677;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .love-story .love-storys .story-list .story.lefts:after {
    display: none;
  }
}
.love-story .love-storys .story-list .story.lefts:before {
  content: '';
  position: absolute;
  height: 24px;
  width: 26px;
  right: 25px;
  top: 23px;
  background: #f07677;
  -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}
.love-story .love-storys .story-list .story.rights {
  padding-left: 100px;
}
@media only screen and (max-width: 992px) {
  .love-story .love-storys .story-list .story.rights {
    padding: 0;
  }
}
.love-story .love-storys .story-list .story.rights:after {
  content: '\f004';
  font-family: fontawesome;
  font-size: 18px;
  position: absolute;
  text-align: center;
  left: -30px;
  top: 5px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  z-index: 9;
  background: #f07677;
  color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .love-story .love-storys .story-list .story.rights:after {
    display: none;
  }
}
.love-story .love-storys .story-list .story.rights:before {
  content: '';
  position: absolute;
  height: 24px;
  width: 26px;
  left: 25px;
  top: 23px;
  background: #f07677;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.love-story .love-storys .story-list .story.first {
  margin-top: 200px;
}
@media only screen and (max-width: 992px) {
  .love-story .love-storys .story-list .story.first {
    margin-top: 130px;
  }
}
@media only screen and (max-width: 768px) {
  .love-story .love-storys .story-list .story.first {
    margin-top: 120px;
  }
}
@media only screen and (max-width: 480px) {
  .love-story .love-storys .story-list .story.first {
    margin-top: 110px;
  }
}
@media only screen and (max-width: 320px) {
  .love-story .love-storys .story-list .story.first {
    margin-top: 0px;
  }
}
.love-story .love-storys .story-list .story .storys {
  display: block;
  position: relative;
  background: #fff;
  margin: 4px;
  -webkit-transition: 0 0 12px rgba(0, 0, 0, 0.15);
  -moz-transition: 0 0 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}
.love-story .love-storys .story-list .story .storys .top-fig {
  display: block;
  padding: 0 30px;
}
.love-story .love-storys .story-list .story .storys .top-fig figure {
  width: 160px;
  height: 160px;
  position: absolute;
  overflow: hidden;
  vertical-align: middle;
  margin: -80px 0 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
@media only screen and (max-width: 320px) {
  .love-story .love-storys .story-list .story .storys .top-fig figure {
    display: none;
  }
}
.love-story .love-storys .story-list .story .storys .top-fig figure img {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.love-story .love-storys .story-list .story .storys .top-fig .con {
  margin-left: 160px;
  display: block;
  padding: 18px 0;
  padding-left: 30px;
}
@media only screen and (max-width: 320px) {
  .love-story .love-storys .story-list .story .storys .top-fig .con {
    margin-left: 0;
  }
}
.love-story .love-storys .story-list .story .storys .top-fig .con p {
  margin: 0 0 5px;
}
.love-story .love-storys .story-list .story .storys .top-fig .con h2 {
  color: #f07677;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  margin: 0;
}
.love-story .love-storys .story-list .story .storys .content {
  display: block;
  text-align: center;
  border-top: 1px solid #dedede;
  border-bottom: 5px solid #f07677;
  padding: 30px 50px;
  margin: 0 0 20px;
}
.love-story .love-storys .story-list .story .storys:hover figure img {
  filter: blur(8px);
}

.registery-area {
  position: relative;
  background: url(images/banner/1.jpg);
}
.registery-area:after {
  background: rgba(0, 0, 0, 0.9);
}
.registery-area .container {
  position: relative;
  z-index: 999;
}
.registery-area .section_heading h2 {
  color: #fff;
}
.registery-area .reg-img figure {
  display: block;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .registery-area .reg-img figure {
    margin: 0 0 40px;
  }
}
.registery-area .reg-img figure img {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .registery-area .reg-con .con {
    text-align: center;
    margin: 0 0 20px;
  }
}
.registery-area .reg-con .con span {
  color: #f07677;
}
.registery-area .reg-con .con h2 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  margin: 0 0 18px;
  color: #fff;
}
.registery-area .reg-con .con h2:first-child {
  margin: 0 0 10px;
}
.registery-area .reg-con .con p {
  margin: 0 0 18px;
  opacity: 0.7;
  color: #fff;
}
.registery-area .reg-con .con p:first-child {
  opacity: 1;
}
.registery-area .reg-con .reg-slider {
  margin: -15px -14px;
}
.registery-area .reg-con .reg-slider .list-slider {
  display: block;
  width: 100%;
}
.registery-area .reg-con .reg-slider .list-slider a {
  display: block;
  padding: 15px 14px;
}
.registery-area .reg-con .reg-slider .list-slider a img {
  width: 100%;
}

/*....................................
7. Services area start here
....................................*/
/*....................................
8. Team area start here
....................................*/
/*....................................
9. Price list area start here
....................................*/
/*....................................
10. Pagination area start here
....................................*/
/*....................................
11. Sidebar area start here
....................................*/
/*....................................
12. Products area start here
....................................*/
/*....................................
13. Testimonial area start here
....................................*/
.testimonial-area {
  position: relative;
  display: block;
  padding: 75px 0;
  background: url(images/banner/bg-3.jpg) no-repeat center;
}
.testimonial-area:after {
  background: rgba(0, 0, 0, 0.4);
}
.testimonial-area .container {
  position: relative;
  z-index: 999;
}
.testimonial-area .testimonial {
  position: relative;
  padding-top: 50px;
}
.testimonial-area .testimonial:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 25px;
  width: 252px;
  margin: 0 auto;
  background: url(images/icons/6.png) no-repeat center;
}
.testimonial-area .testimonial .lists {
  text-align: center;
}
.testimonial-area .testimonial .lists h2 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  color: #fff;
  /*font-size: 56px;*/
    font-size: 31px;
  margin: 0 0 20px;
}
@media only screen and (max-width: 480px) {
  .testimonial-area .testimonial .lists h2 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 320px) {
  .testimonial-area .testimonial .lists h2 {
    font-size: 40px;
  }
}
.testimonial-area .testimonial .lists p {
  margin: 0;
  position: relative;
  padding: 0 40px;
  display: inline-block;
  color: #fff;
}
.testimonial-area .testimonial .lists p:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: 30px;
  background: #fff;
}
.testimonial-area .testimonial .lists p:before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  height: 1px;
  width: 30px;
  background: #fff;
}

/*....................................
14. Client area start here
....................................*/
/*....................................
15. Form area start here
....................................*/
/*....................................
16. Social link area start here
....................................*/
.socials li {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 48px;
  border: 1px dashed #b7b7b7;
  padding: 5px;
  text-align: center;
  margin: 0 6px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
.socials li a {
  display: block;
  line-height: 37px;
  border: 1px dashed #b7b7b7;
  color: #f07677;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
.socials li a:hover {
  background: #f07677;
  color: #fff;
}

/*....................................
17. Blog area start here
....................................*/
.blog-area .blogs {
  display: block;
  margin: 0 0 30px;
  position: relative;
}
.blog-area .blogs figure {
  position: relative;
  display: block;
  margin: 0 0 30px;
}
.blog-area .blogs figure img {
  width: 100%;
}
.blog-area .blogs figure .date {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 0;
  padding: 10px 20px;
  background: #f07677;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
}
.blog-area .blogs figure .date strong {
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 30px;
}
.blog-area .blogs figure .date span {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.blog-area .blogs .content h2 {
  color: #222222;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  margin: 0 0 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blog-area .blogs .content ul {
  display: block;
  border-bottom: 1px solid #d7d7d7;
  margin: 0 0 15px;
  padding: 0 0 5px;
}
.blog-area .blogs .content ul li {
  padding-right: 18px;
  display: inline-block;
}
.blog-area .blogs .content ul li i {
  padding-right: 5px;
  color: #f07677;
}
.blog-area .blogs .content ul li:last-child {
  padding-right: 0;
}
.blog-area .blogs .content p {
  margin: 0 0 15px;
}
.blog-area .blogs:hover .content h2 {
  color: #f07677;
}

/*....................................
18. Faq area start here
....................................*/
/*....................................
19. Contact area start here
....................................*/
.contact_area {
  position: relative;
  display: block;
  background: url(images/banner/bg-2.jpg);
}
.contact_area::after {
  background: rgba(0, 0, 0, 0.8);
}
.contact_area .container {
  position: relative;
  z-index: 999;
}
.contact_area .section_heading h2 {
  color: #fff;
}
.contact_area .section_heading h2:after {
  width: auto;
}
.contact_area .con-form form fieldset {
  display: block;
  position: relative;
  margin: 0 0 30px;
}
.contact_area .con-form form fieldset input {
  display: block;
  width: 100%;
  line-height: 50px;
  height: 50px;
  border: none;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.contact_area .con-form form fieldset input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
.contact_area .con-form form fieldset input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.contact_area .con-form form fieldset input:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
.contact_area .con-form form fieldset input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
.contact_area .con-form form fieldset textarea {
  display: block;
  width: 100%;
  height: 210px;
  border: none;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .contact_area .con-form form fieldset textarea {
    margin-top: 30px;
  }
}
.contact_area .con-form form fieldset textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
.contact_area .con-form form fieldset textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.contact_area .con-form form fieldset textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
.contact_area .con-form form fieldset textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
.contact_area .con-form form fieldset:last-child {
  margin: 0;
}

.contact-info .info-list {
  display: block;
  margin: 0 0 30px;
  position: relative;
  text-align: center;
}
.contact-info .info-list span {
  display: block;
  width: 155px;
  line-height: 155px;
  height: 155px;
  margin: 0 auto 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: 0 2px 10px rgba(0, 0, 0, 0.1);
  -moz-transition: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contact-info .info-list span:hover {
  -webkit-transition: 0 2px 20px rgba(0, 0, 0, 0.15);
  -moz-transition: 0 2px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
}
.contact-info .info-list .con {
  display: block;
}
.contact-info .info-list .con h2 {
  color: #111;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  margin: 0 0 15px;
}
.contact-info .info-list .con p {
  margin: 0;
}

.rspv-area {
  display: block;
  position: relative;
  padding: 55px 0;
  overflow: hidden;
  vertical-align: middle;
  background: #f07677;
}
@media only screen and (max-width: 768px) {
  .rspv-area {
    padding: 55px 0 60px;
  }
}
.rspv-area .rspv-con {
  padding: 30px 0;
}
@media only screen and (max-width: 768px) {
  .rspv-area .rspv-con {
    text-align: center;
  }
}
.rspv-area .rspv-con p {
  font-size: 22px;
  color: #fff;
  position: relative;
  z-index: 999;
  font-weight: 300;
}
@media only screen and (max-width: 480px) {
  .rspv-area .rspv-con p {
    font-size: 18px;
  }
}
.rspv-area .rspv-con h2 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  color: #fff;
  font-size: 66px;
  margin: 0;
  position: relative;
  z-index: 999;
}
@media only screen and (max-width: 480px) {
  .rspv-area .rspv-con h2 {
    font-size: 50px;
  }
}
.rspv-area .rspv-con:after {
  content: '';
  position: absolute;
  left: -500px;
  top: -55px;
  bottom: -55px;
  right: 15px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  z-index: 9;
}
@media only screen and (max-width: 992px) {
  .rspv-area .rspv-con:after {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@media only screen and (max-width: 768px) {
  .rspv-area .rspv-con:after {
    display: none;
  }
}
.rspv-area .rspv-con:before {
  content: '';
  position: absolute;
  top: -75px;
  bottom: -75px;
  right: 90px;
  width: 30px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 99;
  transform: rotate(16.5deg);
}
@media only screen and (max-width: 992px) {
  .rspv-area .rspv-con:before {
    display: none;
  }
}
.rspv-area .rspv-form {
  display: block;
  width: 100%;
}
.rspv-area .rspv-form form {
  position: relative;
  margin: 0 0 -20px;
  overflow: hidden;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .rspv-area .rspv-form form {
    margin: 0;
  }
}
.rspv-area .rspv-form form fieldset {
  display: block;
  margin: 0 0 20px;
}
.rspv-area .rspv-form form fieldset label {
  display: block;
  font-weight: 300;
  color: #fff;
  font-size: 16px;
}
.rspv-area .rspv-form form fieldset input {
  display: block;
  width: 100%;
  padding: 0 15px;
  height: 50px;
  line-height: 48px;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}
.rspv-area .rspv-form form fieldset select {
  display: block;
  width: 100%;
  padding: 0 15px;
  height: 50px;
  line-height: 48px;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  cursor: pointer;
}
.rspv-area .rspv-form form fieldset select:focus {
  outline: none;
  color: #111;
}
.rspv-area .rspv-form form button {
  color: #070707;
  display: block;
  width: 100%;
  height: 170px;
  line-height: 170px;
  background: #fff;
  margin-top: 12px;
}
@media only screen and (max-width: 768px) {
  .rspv-area .rspv-form form button {
    height: 60px;
    line-height: 60px;
    margin-top: 20px;
  }
}

/*....................................
20. Gallery area start here
....................................*/
.gallery-area {
  position: relative;
  background: url(images/gallery/bg.jpg);
}
.gallery-area:after {
  background: rgba(0, 0, 0, 0.6);
}
.gallery-area .container-fluid {
  position: relative;
  z-index: 999;
}
.gallery-area .section_heading h2 {
  color: #fff;
}
.gallery-area .gallery-slider .glist {
  display: block;
  position: relative;
  margin: 0 0 30px;
}
.gallery-area .gallery-slider .glist figure {
  position: relative;
  display: block;
  overflow: hidden;
  vertical-align: middle;
}
.gallery-area .gallery-slider .glist figure:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.gallery-area .gallery-slider .glist figure a {
  display: block;
}
.gallery-area .gallery-slider .glist figure a img {
  display: block;
  width: 100%;
  transition: 0.5s;
}
.gallery-area .gallery-slider .glist figure a span {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  text-align: center;
  color: #f07677;
  font-size: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: -27px auto 0;
  z-index: 999;
  transition: 0.5s;
  transform: scale(0, 0);
}
.gallery-area .gallery-slider .glist figure:hover a img {
  filter: blur(8px);
}
.gallery-area .gallery-slider .glist figure:hover a span {
  transform: scale(1, 1);
}

/*....................................
21. Event area start here
....................................*/
.event-area .events {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 0 30px;
}
.event-area .events h2 {
  display: block;
  height: 100px;
  line-height: 100px;
  background: #f07677;
  color: #fff;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  margin: 0;
}
.event-area .events .con {
  display: block;
  text-align: center;
  padding: 50px 0;
  background: #fff;
}
.event-area .events .con ul {
  display: inline-block;
}
.event-area .events .con ul li {
  display: block;
  margin: 0 0 15px;
  overflow: hidden;
  vertical-align: middle;
  text-align: left;
}
.event-area .events .con ul li:last-child {
  margin: 0;
}
.event-area .events .con ul li i {
  float: left;
  width: 20px;
  margin-top: 5px;
  color: #f07677;
}
.event-area .events .con ul li span {
  width: calc(100% - 20px);
  float: right;
  padding-left: 5px;
}
.event-area .events a {
  display: block;
  height: 100px;
  line-height: 100px;
  background: url(images/icons/btn.png) no-repeat center;
  background-size: cover;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}
.event-area .events a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
.event-area .events a span {
  position: relative;
  z-index: 999;
}
.event-area .events a span i {
  padding-right: 8px;
}
.event-area .events.line:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  height: 1px;
  background: #cecece;
  z-index: -1;
  right: -180px;
}
@media only screen and (max-width: 992px) {
  .event-area .events.line:after {
    display: none;
  }
}
.event-area .events.line:before {
  content: '\f004';
  position: absolute;
  left: 100%;
  top: 50%;
  right: -175px;
  font-size: 30px;
  margin-top: -11px;
  font-family: fontawesome;
  color: #f07677;
  z-index: 99;
}
@media only screen and (max-width: 992px) {
  .event-area .events.line:before {
    display: none;
  }
}
.event-area .events.event_half {
  width: 50%;
  margin: 0 auto 30px;
}
@media only screen and (max-width: 992px) {
  .event-area .events.event_half {
    width: 100%;
  }
}

/*....................................
22. Footer area start here
....................................*/
footer {
  position: relative;
  display: block;
  background: #f07677;
  line-height: 120px;
  height: 120px;
}
@media only screen and (max-width: 768px) {
  footer {
    height: auto;
    line-height: 26px;
    padding: 50px 0;
    text-align: center;
  }
}
footer .foo-logo a {
  display: inline-block;
}
footer .copyright {
  display: block;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  footer .copyright {
    text-align: center;
    margin: 20px 0 0;
  }
}
footer .copyright p {
  margin: 0;
  color: #fff;
}